@charset "UTF-8";

body {background: #fff7fd;}
.ct {text-align: center;}

* {margin:0; padding:0; border:0; line-height: 1.3;}

a {text-decoration:none; color:#000000;}
a:visited {text-decoration:none; color:#000000;}
a:active {text-decoration:none; color:#000000;}
a:link {text-decoration:none; color:#000000;}

ul, ol, dl {list-style: none;}

table {border-collapse: collapse;}
img{display: block}
/*인풋요소 포커스 시 외곽선 안보이게*/
:focus {outline:none;}

/*input[type="number"]요소에 상하 화살표 없애기*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.showBlockPc {display:block;}
.showInlineBlockPc {display:inline-block;}
.showInlinePc {display:inline;}
.showBlockM {display:none;}
.showInlineBlockM {display:none;}
.showInlineM {display:none;}



@media(max-width:768px){
    .showBlockPc {display:none;}
    .showInlineBlockPc {display:none;}
    .showInlinePc {display:none;}
    .showBlockM {display:block;}
    .showInlineBlockM {display:inline-block;}
    .showInlineM {display:inline;}
}